* {
    font-family: Arial;
}

body {
    padding: 32px;
}

pre {
    padding: 6px 28px 6px 28px;
    background-color: #E8EEF7;
}

pre, pre *, code, code *, kbd {
    font-family: Courier New, Courier;
    font-size: 10pt;
}

h1, h1 * {
    font-size: 24pt;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black;
}

p, td, th, li, .breadcrumbs {
    font-size: 10pt;
}

p, li {
    line-height: 140%;
    max-width: 720px;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    margin: 8px 0px 8px 0px;
}

th, td {
    border: 1px solid black;
    padding: 3px;
}

td {
    background-color: white;
    vertical-align: top;
}

th {
    background-color: #C3D9FF;
}

li {
    margin-top: 6px;
    margin-bottom: 6px;
}

.example {
    padding: 2px 12px 6px 12px;
    border: 1px solid #C3D9FF;
    margin: 6px 0px 28px 0px;
    background-color: #F5F9FD;
}

.example h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12pt;
}

.special {
    font-style: italic;
}

.idea {
    font-size: 9pt;
    color: #888;
    font-style: italic;
}

.tight li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.commentary {
    float: right;
    width: 200px;
    background-color: #ffffd0;
    padding: 8px;
    border: 3px solid #eeeeb0;
    margin: 10px 0px 10px 10px;
}

.commentary, .commentary * {
    font-size: 8pt;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}